In [26]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier,export_graphviz
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split



df = pd.read_table('titanic-passengers.csv', delimiter =";") 
df["Survived"] = df["Survived"].map({"Yes" : 1 , "No" : 0})
df["Sex"] = df["Sex"].map({"male" : 1 , "female" : 0})
df["Age"].fillna(df["Age"].median() , inplace =True)
df["Age"] = df["Age"].map(int)



df["Embarked"].fillna("C" , inplace =True)

df = df.drop('Cabin',axis=1)
df[['Role','fullName']] = df.Name.str.split(",",expand=True)

df[['Value','Pseudo' , 'NameDesc']] = df["fullName"].str.split(".",expand=True)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Role,fullName,Value,Pseudo,NameDesc
0,343,0,2,"Collander, Mr. Erik Gustaf",1,28,0,0,248740,13.0000,S,Collander,Mr. Erik Gustaf,Mr,Erik Gustaf,None
1,76,0,3,"Moen, Mr. Sigurd Hansen",1,25,0,0,348123,7.6500,S,Moen,Mr. Sigurd Hansen,Mr,Sigurd Hansen,None
2,641,0,3,"Jensen, Mr. Hans Peder",1,20,0,0,350050,7.8542,S,Jensen,Mr. Hans Peder,Mr,Hans Peder,None
3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",0,29,0,4,349909,21.0750,S,Palsson,Mrs. Nils (Alma Cornelia Berglund),Mrs,Nils (Alma Cornelia Berglund),None
4,672,0,1,"Davidson, Mr. Thornton",1,31,1,0,F.C. 12750,52.0000,S,Davidson,Mr. Thornton,Mr,Thornton,None

In [27]:
x=df[["Survived", "Sex", "SibSp", "Age"]]
y= df["Survived"]
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)
treeModel = DecisionTreeClassifier()  
treeModel.fit(x_train, y_train)   #fitting our model
y_pred=treeModel.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:1.0

In [28]:
import graphviz
from IPython.display import display
dot_data = tree.export_graphviz(treeModel,out_file=None)
graph = graphviz.Source(dot_data)
print(graph)
# graph.render() 
# graph

digraph Tree {
node [shape=box] ;
0 [label="X[0] <= 0.5\ngini = 0.469\nsamples = 712\nvalue = [444, 268]"] ;
1 [label="gini = 0.0\nsamples = 444\nvalue = [444, 0]"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="gini = 0.0\nsamples = 268\nvalue = [0, 268]"] ;
0 -> 2 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
}

In [29]:
x1=df[["Survived", "Sex"]]
y1= df["Survived"]
x_train1, x_test1, y_train1, y_test1 = train_test_split(x1,y1, test_size=0.2,random_state=30)
treeModel1 = DecisionTreeClassifier()  
treeModel1.fit(x_train1, y_train1)   #fitting our model
y_pred1=treeModel1.predict(x_test1)   # evaluating our model
print("score:{}".format(accuracy_score(y_test1, y_pred1)))

score:1.0

In [32]:
from sklearn.ensemble import RandomForestClassifier

x2=df[["Survived", "Sex", "SibSp", "Age"]]
y2= df["Survived"]
x_train2, x_test2, y_train2, y_test2 = train_test_split(x,y, test_size=0.20,random_state=10)
clf=RandomForestClassifier(n_estimators=10)  
clf.fit(x_train2, y_train2)  
y_pred2=clf.predict(x_test2)  
print("Accuracy:", accuracy_score(y_test2, y_pred2))

Accuracy: 1.0